APP_PORT=8000
APP_HOST=127.0.0.1

# Path to SUMO file
SUMO_HOME=

SIMULATION_PATH=D:\path\to\your\repo\ECOTWIN\simulation\configs\simulation.sumocfg
NETWORK_PATH=D:\path\to\your\repo\ECOTWIN\simulation\networks\city_grid.net.xml

# After done set this file, rename the file to .env